<!-- cart-main-area start -->
<div class="checkout-wrap ptb--100">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="checkout__inner">
                    <div class="accordion-list">
                        <div class="accordion">
                            <div class="accordion__title">
                                Checkout Method
                            </div>
                            <div class="accordion__body">
                                <div class="accordion__body__form">
                                    <div class="row">
                                        {{#if user}}
                                        <div class="col-md-12">
                                            <p style="color:darkcyan; font-weight: bold; font-size:xx-large; margin-bottom: 10px;">Welcome, {{user.owner}}! It’s all about you...</p>
                                            <a style="margin: 10px" href="/checkout/logout">Use another account</a>
                                        </div>
                                        {{else}}
                                        <div class="col-md-7">
                                            <div class="checkout-method">
                                                <form action="#">
                                                    <div class="checkout-method__single">
                                                        <h5 class="checkout-method__title"><i class="zmdi zmdi-caret-right"></i>CHECKOUT AS A GUEST OR REGISTER</h5>
                                                        <p class="checkout-method__subtitle">Register with us for future convenience:</p>
                                                        <div class="single-input">
                                                            <input type="radio" id="checkout-method-1" name="checkout-method" checked="checked">
                                                            <label for="checkout-method-1">Checkout as guest</label>
                                                        </div>
                                                        <div class="single-input">
                                                            <input type="radio" id="checkout-method-2" name="checkout-method">
                                                            <label for="checkout-method-2">Register</label>
                                                        </div>
                                                    </div>                               
                                                </form>
                                            </div>
                                        </div>
                                        <div class="col-md-5">
                                            <div class="checkout-method__login">
                                                <form method="post" action="/checkout/login">
                                                    <h5 class="checkout-method__title">Login</h5>
                                                    <h5 class="checkout-method__title">Already Registered?</h5>
                                                    <p class="checkout-method__subtitle">Please login below:</p>
                                                    {{#if wrongLogin}}
                                                        <p style="color: red;">Wrong email or password</p>
                                                    {{/if}}
                                                    <div class="single-input">
                                                        <label for="user-email">Email Address</label>
                                                        <input type="email" id="user-email" name="email" required="">
                                                    </div>
                                                    <div class="single-input">
                                                        <label for="user-pass">Password</label>
                                                        <input type="password" id="user-pass" name="password" required="">
                                                    </div>
                                                    <p class="require">* Required fields</p>
                                                    <a href="#">Forgot Passwords?</a>
                                                    <div class="dark-btn">
                                                        <input type="submit" value="Log in">
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="checkout-method__register">
                                                <form action="/checkout/register" method="post">
                                                    <h5 class="checkout-method__title">Register</h5>
                                                    <p class="checkout-method__subtitle">Please sign up below:</p>
                                                    {{#if wrongSignup}} 
                                                        <p style="color: red;">Email is already existed!</p>
                                                    {{/if}}
                                                    <div class="single-input">
                                                        <label for="fullname">Full Name</label>
                                                        <input type="text" id="fullname" name="fullname" required="">
                                                    </div>
                                                    <div class="single-input">
                                                        <label for="emailaddress">Email address</label>
                                                        <input type="email" id="emailaddress" name="email" required="" >
                                                    </div>
                                                    <div class="single-input">
                                                        <label for="password">Password</label>
                                                        <input type="password" id="password" name="password" required="" >
                                                    </div>
                                                    <div class="single-input">
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input require" id="checkbox-signup">
                                                            <label class="custom-control-label" for="checkbox-signup">I accept <a href="javascript: void(0);" class="text-dark">Terms and Conditions</a></label>
                                                        </div>
                                                    </div>
                                                    <div class="dark-btn">
                                                        <input type="submit" value="Sign up">
                                                    </div>

                                                </form>
                                            </div>
                                        </div>
                                    
                                        {{/if}}
                                    </div>
                                </div>
                            </div>
                            <div class="accordion__title">
                                User Information
                            </div>
                            <div class="accordion__body">
                                <div class="bilinfo">
                                    <form method="post" action="/checkout/info/update">
                                        {{#with info}}
                                        <div class="form-row">
                                            <div class="form-group col-md-12">
                                                <label for="inputEmail4">Fullname:</label>
                                                <input type="text" class="form-control" placeholder="Fullname" name="fullname" value="{{TENKH}}">
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label for="inputEmail4">DOB:</label>
                                                <input type="date" class="form-control" name="dob" value="{{NGAYSINH}}">
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label for="inputEmail4">Phone:</label>
                                                <input type="text" class="form-control" name="phone" value="{{DIENTHOAI}}">
                                            </div>
                                        </div>
                                        <div class="form-row col-md-12">
                                            <label>Address:</label>
                                        </div>
                                        <div class="form-row">                                           
                                            <div class="form-group col-md-4">
                                                <label for="inputCity">Street</label>
                                                <input type="text" class="form-control" name="street" value="{{STREET}}">
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label for="inputCity">District</label>
                                                <input type="text" class="form-control" name="district" value="{{DISTRICT}}">
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label for="inputCity">City</label>
                                                <input type="text" class="form-control" name="city" value={{CITY}}>
                                            </div>
                                        </div>                                       
                                        <div class="form-row col-md-12">
                                            <div class="form-group col-md-10">
                                            </div>
                                            <div class="form-group col-md-2">
                                                <button type="submit" class="btn btn-primary">Update</button>
                                            </div>                                          
                                        </div>
                                        {{/with}}
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="order-details">
                    <h5 class="order-details__title">Your Order</h5>
                    {{#if messageBill}}
                    <h6 style="color: green;">{{messageBill}}</h6>
                    {{/if}}
                    <div class="order-details__item">
                        {{#each cartItems}}
                        <div class="single-item">
                            <div class="single-item__thumb">
                                <img src="{{MASACH_sach.IMAGE}}" alt="ordered item">
                            </div>
                            <div class="single-item__thumb">
                                <span >x{{SOLUONG}}</span>
                            </div>
                            <div class="single-item__content">
                                <a href="#">{{MASACH_sach.TENSACH}}</a>
                                <span class="price">{{MASACH_sach.GIA}}$</span>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    {{#if cartItems}}
                    {{#with bill}}
                    <div class="ordre-details__total">
                        <h5>Tổng bill: </h5>
                        <span class="price">{{totalBill}}$</span>
                    </div>
                    <form action="/checkout/payment/{{info_bill.SOHD}}" method="POST">
                        <div class="ordre-details__total">
                            <h5>Người nhận: </h5>
                            {{!-- <span class="price">{{info_bill.FULLNAME}}</span> --}}
                            <input name="fullname" type="text" value="{{info_bill.FULLNAME}}" required>
                        </div>
                        <div class="ordre-details__total">
                            <h5>Địa chỉ: </h5>
                            <input name="address" type="text" value="{{info_bill.ADDRESS}}" required>
                        </div>
                        <div class="ordre-details__total">
                            <h5>Điện thoại: </h5>
                            <input name="phone" type="text" value="{{info_bill.PHONE}}" required>
                        </div>
                    
                        <div class="ordre-details__total">
                        <button type="submit" class="btn btn-primary">Thanh toán</button>
                        </div>
                    </form>
                    {{/with}}
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- cart-main-area end -->
<!-- Start Brand Area -->
<div class="htc__brand__area bg__cat--4">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="ht__brand__inner">
                    <ul class="brand__list owl-carousel clearfix">
                        <li><a href="#"><img src="images/brand/1.png" alt="brand images"></a></li>
                        <li><a href="#"><img src="images/brand/2.png" alt="brand images"></a></li>
                        <li><a href="#"><img src="images/brand/3.png" alt="brand images"></a></li>
                        <li><a href="#"><img src="images/brand/4.png" alt="brand images"></a></li>
                        <li><a href="#"><img src="images/brand/5.png" alt="brand images"></a></li>
                        <li><a href="#"><img src="images/brand/5.png" alt="brand images"></a></li>
                        <li><a href="#"><img src="images/brand/1.png" alt="brand images"></a></li>
                        <li><a href="#"><img src="images/brand/2.png" alt="brand images"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Brand Area -->
