<!-- Start Bradcaump area -->
<div class="ht__bradcaump__area" style="background: rgba(0, 0, 0, 0) url(images/bg/4.jpg) no-repeat scroll center center / cover ;">
    <div class="ht__bradcaump__wrap">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="bradcaump__inner">
                        <nav class="bradcaump-inner">
                            <a class="breadcrumb-item" href="/">Home</a>
                            <span class="brd-separetor"><i class="zmdi zmdi-chevron-right"></i></span>
                            <a class="breadcrumb-item" href="/product/">Products</a>
                            <span class="brd-separetor"><i class="zmdi zmdi-chevron-right"></i></span>
                            <span class="breadcrumb-item active">{{productDetail.MASACH}}</span>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Bradcaump area -->
<!-- Start Product Details Area -->
<section class="htc__product__details bg__white ptb--100">
    {{#with productDetail}}
    <!-- Start Product Details Top -->
    <div class="htc__product__details__top">
        <div class="container">
            <div class="row">                              
                <img src={{IMAGE}} alt="product images">    
                <div class="col-md-7 col-lg-7 col-sm-12 col-xs-12 smt-40 xmt-40">
                    <div class="ht__product__dtl">  
                        <h2>{{TENSACH}}</h2>
                        <ul>
                            <li>Price: {{GIA}}$</li>
                        </ul>
                        <ul>
                            <li>Author: <span>{{chitietsach.TACGIA}}</span></li>
                        </ul>
                        <ul>
                            <li>Publish Date: <span>{{chitietsach.NGAYXB}}</span></li>
                        </ul>
                        <ul>
                            <li>Description:</li>
                        </ul>
                        <p>{{chitietsach.MOTA}}</p>
                        <div class="ht__pro__desc">
                            <div class="sin__desc">
                                <p><span>Availability:</span> In Stock</p>
                            </div>                            
                            <div class="sin__desc align--left">
                                <p><span>Categories:</span></p>
                                <ul class="pro__cat__list">
                                    {{#each ../bookCategory}}
                                    <li><a href="/product/?cat_id={{CATEGORY.CATEGORY_ID}}">{{CATEGORY.NAME}}</a></li>
                                    {{/each}}
                                </ul>
                            </div>
                        </div>
                        <br>
                        <ul>
                            <div class="fr__list__btn">
                                <a class="fr__btn" name="addcart" id="{{MASACH}}" href="">Add To Cart</a>
                            </div>
                        </ul>
                    </div>                  
                </div>                
            </div>
        </div>
    </div>
    {{/with}}
    <!-- End Product Details Top -->
</section>
<!-- End Product Details Area -->
<!-- Start Product Description -->
<section class="htc__produc__decription bg__white">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <!-- Start List And Grid View -->
                <ul class="pro__details__tab" role="tablist">
                    <li role="presentation" class="description active"><a href="#description" role="tab" data-toggle="tab">description</a></li>
                    <li role="presentation" class="review"><a href="#review" role="tab" data-toggle="tab">review</a></li>
                </ul>
                <!-- End List And Grid View -->
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="ht__pro__details__content">
                    <!-- Start Single Content -->
                    <div role="tabpanel" id="review" class="pro__single__content tab-pane fade">
                        <div class="pro__tab__content__inner">
                            <h4 class="ht__pro__title">Review</h4>
                            <p>Comments</p>
                        </div>
                    </div>
                    <!-- End Single Content -->
                </div>
            </div>
        </div>
    </div>
</section>

<form action="">
    <input type="hidden" name="productId" value="{{this.MASACH}}">
    <input name="NOIDUNG" placeholder="Comment">
    <button type="submit" id="post-comment">Send</button>
</form>

<div id="comments"></div>

<!-- Start Banner Area -->
<div class="htc__brand__area bg__cat--4">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="ht__brand__inner">
                    <ul class="brand__list owl-carousel clearfix">
                        <li><a href="#"><img src="/images/brand/1.png" alt="brand images"></a></li>
                        <li><a href="#"><img src="/images/brand/2.png" alt="brand images"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Banner Area -->   
<!-- Placed js at the end of the document so the pages load faster -->
{{#section 'script'}}
<!-- jquery latest version -->
<script src="/js/vendor/jquery-3.2.1.min.js"></script>
<!-- Bootstrap framework js -->
<script src="/js/bootstrap.min.js"></script>
<!-- All js plugins included in this file. -->
<script src="/js/plugins.js"></script>
<script src="/js/slick.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<!-- Waypoints.min.js. -->
<script src="/js/waypoints.min.js"></script>
<!-- Main js file that contents all jQuery plugins activation. -->
<script src="/js/main.js"></script>

<script>
    $('[name="addcart"]').on('click', e => {
        e.preventDefault();
        let masach = e.currentTarget.id;
        $.ajax({
            url: '/api/product/addcart',
            method: 'POST',
            data: { masach },
            success: function(data){
                console.log(data);
            }
        })
    })
</script>

<script>
    $('#post-comment').on('click', e =>{
        e.preventDefault();
        let comment = $('input[name=comment').val();
        let productId= $('input[name=productId').val();
        $.ajax({
            url:"/api/product/comment",
            method:'POST',
            data:{
                comment,
                productId
            },
            success: function(data){
                console.log(data);
                loadComments();
            }
        })
    })

    function loadComments(){
        $.getJSON('/api/product/${$('input[name=productId]').val()}/ratings',function(data){
            let comment = data.comment;
            let html='';
            html+= `<p>${content}</p>;`
            $('#comments').html(html); 
        });
    }
    loadComments();
</script>
{{/section}}